#root {
  width: 80%;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

.black {
  background-color: rgb(212, 142, 70);
}

.white {
  background-color: #face9d;
}

.shadow {
  box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.6);
}

.chessTable {
  position: relative;
  border: 2px solid black;
  border-radius: 10px;
}

[id="0"] {
  border-top-left-radius: 8px;
}

[id="7"] {
  border-top-right-radius: 8px;
}

[id="56"] {
  border-bottom-left-radius: 8px;
}

[id="63"] {
  border-bottom-right-radius: 8px;
}

.chessCell {
  box-sizing: border-box;
  width: 100px;
  height: 100px;
  position: relative;
  user-select: none;
  transition: border-width .08s ease-out, border-color .08s ease-out, background-color .08s ease-out;
}



.chessCell.selected {
  background-color: rgb(223, 194, 66);
  border: 2px solid rgb(0 0 0 / .2);
}


.chessCell.lastMove::after {
  position:  absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;

  content: "";
  z-index: 0;
  background-color: rgb(40 255 100 / 0.20);
}

.chessCell.isValidMove::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 25px;
  height: 25px;
  background-color: rgb(0 0 0 / .20);
  border-radius: 50%;
}

.chessCell.eatable {
  border: 3px solid rgba(84, 53, 3, 0.5);
}


.chessRow {
  display: flex;
}


.chessRowLabel {
  width: 50px;
  height: 100px;
  position: absolute;
  left: -50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3em;
  pointer-events: none;
}

.chessColLabel {
  width: 100px;
  height: 50px;
  position: absolute;
  bottom: -50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3em;
  pointer-events: none;
}

.chessPiece {
  position: absolute;
  z-index: 1;
  mask-image: radial-gradient(black 70%, transparent 80%);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* cursor: grab; */
  transition: background-color 0.3s ease-out;
}

.chessPiece.checked {
  background-color: red;
  mask-image: radial-gradient(black 50%, transparent 80%);
}

.chessPiece.end {
  pointer-events: none;
}

.timer {
  width: 200px;
  height: 800px;

  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.player {
  display: flex;
  width: 100%;
  height: 50px;
  border: 1px solid black;
  border-radius: 10px;
  background-color: #323232;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  transition: box-shadow 0.3s ease-out;
}

.player.active {
  box-shadow: 1px 0px 10px 0px rgba(255, 255, 255, 0.6);
}

.activateIA {
  margin-top: 10px;
  padding: 6%;
  border: 1px solid black;
  border-radius: 10px;
  background-color: #323232;
  color: white;
  cursor: pointer;
  transition: background-color 0.2s ease-out;
}

.activateIA:hover {
  background-color: #3a3a3a;
}

.activateIA:active {
  background-color: #212121;
}

.activateIA.activated {
  background-color: #212121;
}

.restartGameContainer {
  width: 150px;
}


.restartGame {
  width: 100%;
  border: 1px solid black;
  background-color: #323232;
  color: white;
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
}

.gameContainer {

  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.winnerContainer {
  z-index: 1;
  position: absolute;

  background-color: rgb(0 0 0 / .1);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

}

.winner {
  z-index: 1;

  font-size: 1em;
  color: white;
  background-color: rgb(6 6 6 / .95);
  border: 1px solid black;
  padding: 1em;
  border-radius: 10px;
}


.crownedContainer {
  z-index: 2;
  position: absolute;

  box-sizing: border-box;

  background-color: rgb(139 90 41 / .95);
  top: -65px;

  border: 2px solid black;
  padding: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 8px;
}

.crownablePiece {
  border-radius: 5px;
  box-sizing: border-box;
  width: 70px;
  background-color: rgb(212 142 70 / .8);
  border: 2px solid rgb(106, 66, 25);
  
  transition: background-color 0.08s ease-out;
}

.crownablePiece:hover {
  background-color: rgb(163 108 52 / .8);
  cursor: pointer;
}

.crownablePieceImage {
  width: 100%;
  height: 100%;
}
